In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [6]:
#데이터 불러오기
data = pd.read_csv('./Data/otto_train.csv')
data

,id,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,...,feat_85,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93,target
0,1,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,Class_1
1,2,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,Class_1
2,3,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,Class_1
3,4,1,0,0,1,6,1,5,0,0,...,0,1,2,0,0,0,0,0,0,Class_1
4,5,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,Class_1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61873,61874,1,0,0,1,1,0,0,0,0,...,1,0,0,0,0,0,0,2,0,Class_9
61874,61875,4,0,0,0,0,0,0,0,0,...,0,2,0,0,2,0,0,1,0,Class_9
61875,61876,0,0,0,0,0,0,0,3,1,...,0,3,1,0,0,0,0,0,0,Class_9
61876,61877,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,3,10,0,Class_9
61877,61878,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,0,Class_9

In [5]:
'''
id: 고유 아이디
feat_1 ~ feat_93: 설명변수
target: 타겟변수 (1~9)
'''

'\nid: 고유 아이디\nfeat_1 ~ feat_93: 설명변수\ntarget: 타겟변수 (1~9)\n'

In [7]:
ncar = data.shape[0]
nvar = data.shape[1]
print(ncar)
print(nvar)

61878
95

### 의미 없는 변수 제거

In [8]:
data1 = data.drop(['id'],axis=1)
data1

,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,feat_10,...,feat_85,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93,target
0,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,Class_1
1,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Class_1
2,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Class_1
3,1,0,0,1,6,1,5,0,0,1,...,0,1,2,0,0,0,0,0,0,Class_1
4,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,Class_1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61873,1,0,0,1,1,0,0,0,0,0,...,1,0,0,0,0,0,0,2,0,Class_9
61874,4,0,0,0,0,0,0,0,0,0,...,0,2,0,0,2,0,0,1,0,Class_9
61875,0,0,0,0,0,0,0,3,1,0,...,0,3,1,0,0,0,0,0,0,Class_9
61876,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,3,10,0,Class_9
61877,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,0,Class_9

### 타겟 변수의 문자열을 숫자로 변환

In [10]:
data1.target.unique()

array(['Class_1', 'Class_2', 'Class_3', 'Class_4', 'Class_5', 'Class_6',
       'Class_7', 'Class_8', 'Class_9'], dtype=object)

In [9]:
mapping_dict = {'Class_1':1,
                'Class_2':2,
                'Class_3':3,
                'Class_4':4,
                'Class_5':5,
                'Class_6':6,
                'Class_7':7,
                'Class_8':8,
                'Class_9':9,
               }

In [11]:
after_mapping_target = data['target'].apply(lambda x :mapping_dict[x])
after_mapping_target

0        1
1        1
2        1
3        1
4        1
        ..
61873    9
61874    9
61875    9
61876    9
61877    9
Name: target, Length: 61878, dtype: int64

### 독립변수와 타겟변수를 분리, 학습데이터와 평가데이터 분리

In [12]:
feature_columns = list(data.columns.difference(['target']))
x = data[feature_columns]
y = after_mapping_target
train_x, test_x, train_y, test_y = train_test_split(x,y, test_size=0.2, random_state=42)
print(train_x.shape, test_x.shape, train_y.shape, test_y.shape)

(49502, 94) (12376, 94) (49502,) (12376,)

### 학습 데이터를 랜덤포레스트 모형에 적합 후 평가 데이터로 검증

In [13]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
clf = RandomForestClassifier(n_estimators=20,
                            max_depth=5,
                            random_state=0)
clf.fit(train_x,train_y)

RandomForestClassifier(max_depth=5, n_estimators=20, random_state=0)

In [14]:
pred1 = clf.predict(test_x)
accuracy_score(test_y,pred1)

0.8003393665158371

#### 트리 많이 만들어보기

In [15]:
clf = RandomForestClassifier(n_estimators=300,
                            max_depth=5,
                            random_state=0)
clf.fit(train_x,train_y)
pred1 = clf.predict(test_x)
accuracy_score(test_y,pred1)

0.8150452488687783

#### 트리 깊이 늘려보기

In [16]:
clf = RandomForestClassifier(n_estimators= 100,max_depth= 20,random_state = 0)
clf.fit(train_x,train_y)
pred1 = clf.predict(test_x)
accuracy_score(test_y,pred1)

0.9910310277957337

#### 트리 깊이 최대로 늘려보기

In [17]:
clf = RandomForestClassifier(n_estimators= 100,max_depth= 100,random_state = 0)
clf.fit(train_x,train_y)
pred1 = clf.predict(test_x)
accuracy_score(test_y,pred1)

0.9948287007110537

#### 랜덤포레스트에 대한 하이퍼파라미터 정보
- https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html